# Predicting Monthly Microbusiness Density in a given area

## 1. Problem Definition
Predict monthly microbusiness density n a given area to aid policymakers gain visibility into microbusiness

## 2. Data
Data is gotten from: https://www.kaggle.com/competitions/godaddy-microbusiness-density-forecasting/data

## 3. Evaluation
Submissions are evaluated on `SMAPE` between forecasts and actual values. We define `SMAPE` = 0 when the actual and predicted values are both 0.

## 4. Features
**Training data**
* `row_id` - An ID code for the row.
* `cfips` - A unique identifier for each county using the Federal Information Processing System. The first two digits correspond to the state FIPS code, while the following 3 represent the county.
* `county_name` - The written name of the county.
* `state_name` - The name of the state.
* `first_day_of_month` - The date of the first day of the month.
* `microbusiness_density` - Microbusinesses per 100 people over the age of 18 in the given county. This is the target variable. The population figures used to calculate the density are on a two-year lag due to the pace of update provided by the U.S. Census Bureau, which provides the underlying population data annually. 2021 density figures are calculated using 2019 population figures, etc.
* `active` - The raw count of microbusinesses in the county. Not provided for the test set.

**Test data**
* `row_id` - An ID code for the row.
* `cfips` - A unique identifier for each county using the Federal Information Processing System. The first two digits correspond to the state FIPS code, while the following 3 represent the county.
* `first_day_of_month` - The date of the first day of the month.

In [139]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

In [140]:
df_microbusiness = pd.read_csv("C:/Users\Boma Allwell-Brown/Machine learning/GoDaddy-Microbusiness-Density-Forecasting/godaddy-microbusiness-density-forecasting/train.csv", 
                               parse_dates=["first_day_of_month"])

In [141]:
df_microbusiness.head(10)

,row_id,cfips,county,state,first_day_of_month,microbusiness_density,active
0,1001_2019-08-01,1001,Autauga County,Alabama,2019-08-01,3.007682,1249
1,1001_2019-09-01,1001,Autauga County,Alabama,2019-09-01,2.884870,1198
2,1001_2019-10-01,1001,Autauga County,Alabama,2019-10-01,3.055843,1269
3,1001_2019-11-01,1001,Autauga County,Alabama,2019-11-01,2.993233,1243
4,1001_2019-12-01,1001,Autauga County,Alabama,2019-12-01,2.993233,1243
5,1001_2020-01-01,1001,Autauga County,Alabama,2020-01-01,2.969090,1242
6,1001_2020-02-01,1001,Autauga County,Alabama,2020-02-01,2.909326,1217
7,1001_2020-03-01,1001,Autauga County,Alabama,2020-03-01,2.933231,1227
8,1001_2020-04-01,1001,Autauga County,Alabama,2020-04-01,3.000167,1255
9,1001_2020-05-01,1001,Autauga County,Alabama,2020-05-01,3.004948,1257

In [142]:
# Active column is not required for model therefore should be dropped
df_microbusiness.drop(columns='active', inplace=True)
df_microbusiness

,row_id,cfips,county,state,first_day_of_month,microbusiness_density
0,1001_2019-08-01,1001,Autauga County,Alabama,2019-08-01,3.007682
1,1001_2019-09-01,1001,Autauga County,Alabama,2019-09-01,2.884870
2,1001_2019-10-01,1001,Autauga County,Alabama,2019-10-01,3.055843
3,1001_2019-11-01,1001,Autauga County,Alabama,2019-11-01,2.993233
4,1001_2019-12-01,1001,Autauga County,Alabama,2019-12-01,2.993233
...,...,...,...,...,...,...
122260,56045_2022-06-01,56045,Weston County,Wyoming,2022-06-01,1.803249
122261,56045_2022-07-01,56045,Weston County,Wyoming,2022-07-01,1.803249
122262,56045_2022-08-01,56045,Weston County,Wyoming,2022-08-01,1.785395
122263,56045_2022-09-01,56045,Weston County,Wyoming,2022-09-01,1.785395
122264,56045_2022-10-01,56045,Weston County,Wyoming,2022-10-01,1.785395

In [143]:
df_microbusiness

,row_id,cfips,county,state,first_day_of_month,microbusiness_density
0,1001_2019-08-01,1001,Autauga County,Alabama,2019-08-01,3.007682
1,1001_2019-09-01,1001,Autauga County,Alabama,2019-09-01,2.884870
2,1001_2019-10-01,1001,Autauga County,Alabama,2019-10-01,3.055843
3,1001_2019-11-01,1001,Autauga County,Alabama,2019-11-01,2.993233
4,1001_2019-12-01,1001,Autauga County,Alabama,2019-12-01,2.993233
...,...,...,...,...,...,...
122260,56045_2022-06-01,56045,Weston County,Wyoming,2022-06-01,1.803249
122261,56045_2022-07-01,56045,Weston County,Wyoming,2022-07-01,1.803249
122262,56045_2022-08-01,56045,Weston County,Wyoming,2022-08-01,1.785395
122263,56045_2022-09-01,56045,Weston County,Wyoming,2022-09-01,1.785395
122264,56045_2022-10-01,56045,Weston County,Wyoming,2022-10-01,1.785395

In [144]:
from sklearn.linear_model import SGDRegressor

In [145]:
df_microbusiness.head(20)

,row_id,cfips,county,state,first_day_of_month,microbusiness_density
0,1001_2019-08-01,1001,Autauga County,Alabama,2019-08-01,3.007682
1,1001_2019-09-01,1001,Autauga County,Alabama,2019-09-01,2.884870
2,1001_2019-10-01,1001,Autauga County,Alabama,2019-10-01,3.055843
3,1001_2019-11-01,1001,Autauga County,Alabama,2019-11-01,2.993233
4,1001_2019-12-01,1001,Autauga County,Alabama,2019-12-01,2.993233
5,1001_2020-01-01,1001,Autauga County,Alabama,2020-01-01,2.969090
6,1001_2020-02-01,1001,Autauga County,Alabama,2020-02-01,2.909326
7,1001_2020-03-01,1001,Autauga County,Alabama,2020-03-01,2.933231
8,1001_2020-04-01,1001,Autauga County,Alabama,2020-04-01,3.000167
9,1001_2020-05-01,1001,Autauga County,Alabama,2020-05-01,3.004948
10,1001_2020-06-01,1001,Autauga County,Alabama,2020-06-01,3.019292
11,1001_2020-07-01,1001,Autauga County,Alabama,2020-07-01,3.083837
12,1001_2020-08-01,1001,Autauga County,Alabama,2020-08-01,3.174679
13,1001_2020-09-01,1001,Autauga County,Alabama,2020-09-01,3.205756
14,1001_2020-10-01,1001,Autauga County,Alabama,2020-10-01,3.193804
15,1001_2020-11-01,1001,Autauga County,Alabama,2020-11-01,3.038416
16,1001_2020-12-01,1001,Autauga County,Alabama,2020-12-01,3.002558
17,1001_2021-01-01,1001,Autauga County,Alabama,2021-01-01,2.947244
18,1001_2021-02-01,1001,Autauga County,Alabama,2021-02-01,3.106106
19,1001_2021-03-01,1001,Autauga County,Alabama,2021-03-01,3.144043

In [146]:
df_temp = df_microbusiness.copy()

In [147]:
df_temp

,row_id,cfips,county,state,first_day_of_month,microbusiness_density
0,1001_2019-08-01,1001,Autauga County,Alabama,2019-08-01,3.007682
1,1001_2019-09-01,1001,Autauga County,Alabama,2019-09-01,2.884870
2,1001_2019-10-01,1001,Autauga County,Alabama,2019-10-01,3.055843
3,1001_2019-11-01,1001,Autauga County,Alabama,2019-11-01,2.993233
4,1001_2019-12-01,1001,Autauga County,Alabama,2019-12-01,2.993233
...,...,...,...,...,...,...
122260,56045_2022-06-01,56045,Weston County,Wyoming,2022-06-01,1.803249
122261,56045_2022-07-01,56045,Weston County,Wyoming,2022-07-01,1.803249
122262,56045_2022-08-01,56045,Weston County,Wyoming,2022-08-01,1.785395
122263,56045_2022-09-01,56045,Weston County,Wyoming,2022-09-01,1.785395
122264,56045_2022-10-01,56045,Weston County,Wyoming,2022-10-01,1.785395

In [148]:
# Create a column for month and year
df_temp['month'] = df_temp.first_day_of_month.dt.month
df_temp['year'] = df_temp.first_day_of_month.dt.year

In [149]:
df_temp

,row_id,cfips,county,state,first_day_of_month,microbusiness_density,month,year
0,1001_2019-08-01,1001,Autauga County,Alabama,2019-08-01,3.007682,8,2019
1,1001_2019-09-01,1001,Autauga County,Alabama,2019-09-01,2.884870,9,2019
2,1001_2019-10-01,1001,Autauga County,Alabama,2019-10-01,3.055843,10,2019
3,1001_2019-11-01,1001,Autauga County,Alabama,2019-11-01,2.993233,11,2019
4,1001_2019-12-01,1001,Autauga County,Alabama,2019-12-01,2.993233,12,2019
...,...,...,...,...,...,...,...,...
122260,56045_2022-06-01,56045,Weston County,Wyoming,2022-06-01,1.803249,6,2022
122261,56045_2022-07-01,56045,Weston County,Wyoming,2022-07-01,1.803249,7,2022
122262,56045_2022-08-01,56045,Weston County,Wyoming,2022-08-01,1.785395,8,2022
122263,56045_2022-09-01,56045,Weston County,Wyoming,2022-09-01,1.785395,9,2022
122264,56045_2022-10-01,56045,Weston County,Wyoming,2022-10-01,1.785395,10,2022

In [150]:
# To identify columns with string
for label, content in df_temp.items():
    if pd.api.types.is_string_dtype(content):
        print(label)

row_id
county
state

In [151]:
# Convert string columns to category
for label, content in df_temp.items():
    if pd.api.types.is_string_dtype(content):
        df_temp[label] = content.astype('category').cat.as_ordered()

In [152]:
df_temp.head(30)

,row_id,cfips,county,state,first_day_of_month,microbusiness_density,month,year
0,1001_2019-08-01,1001,Autauga County,Alabama,2019-08-01,3.007682,8,2019
1,1001_2019-09-01,1001,Autauga County,Alabama,2019-09-01,2.884870,9,2019
2,1001_2019-10-01,1001,Autauga County,Alabama,2019-10-01,3.055843,10,2019
3,1001_2019-11-01,1001,Autauga County,Alabama,2019-11-01,2.993233,11,2019
4,1001_2019-12-01,1001,Autauga County,Alabama,2019-12-01,2.993233,12,2019
5,1001_2020-01-01,1001,Autauga County,Alabama,2020-01-01,2.969090,1,2020
6,1001_2020-02-01,1001,Autauga County,Alabama,2020-02-01,2.909326,2,2020
7,1001_2020-03-01,1001,Autauga County,Alabama,2020-03-01,2.933231,3,2020
8,1001_2020-04-01,1001,Autauga County,Alabama,2020-04-01,3.000167,4,2020
9,1001_2020-05-01,1001,Autauga County,Alabama,2020-05-01,3.004948,5,2020
10,1001_2020-06-01,1001,Autauga County,Alabama,2020-06-01,3.019292,6,2020
11,1001_2020-07-01,1001,Autauga County,Alabama,2020-07-01,3.083837,7,2020
12,1001_2020-08-01,1001,Autauga County,Alabama,2020-08-01,3.174679,8,2020
13,1001_2020-09-01,1001,Autauga County,Alabama,2020-09-01,3.205756,9,2020
14,1001_2020-10-01,1001,Autauga County,Alabama,2020-10-01,3.193804,10,2020
15,1001_2020-11-01,1001,Autauga County,Alabama,2020-11-01,3.038416,11,2020
16,1001_2020-12-01,1001,Autauga County,Alabama,2020-12-01,3.002558,12,2020
17,1001_2021-01-01,1001,Autauga County,Alabama,2021-01-01,2.947244,1,2021
18,1001_2021-02-01,1001,Autauga County,Alabama,2021-02-01,3.106106,2,2021
19,1001_2021-03-01,1001,Autauga County,Alabama,2021-03-01,3.144043,3,2021
20,1001_2021-04-01,1001,Autauga County,Alabama,2021-04-01,3.224659,4,2021
21,1001_2021-05-01,1001,Autauga County,Alabama,2021-05-01,3.227030,5,2021
22,1001_2021-06-01,1001,Autauga County,Alabama,2021-06-01,3.222288,6,2021
23,1001_2021-07-01,1001,Autauga County,Alabama,2021-07-01,3.210433,7,2021
24,1001_2021-08-01,1001,Autauga County,Alabama,2021-08-01,3.219917,8,2021
25,1001_2021-09-01,1001,Autauga County,Alabama,2021-09-01,3.186722,9,2021
26,1001_2021-10-01,1001,Autauga County,Alabama,2021-10-01,3.203320,10,2021
27,1001_2021-11-01,1001,Autauga County,Alabama,2021-11-01,3.200948,11,2021
28,1001_2021-12-01,1001,Autauga County,Alabama,2021-12-01,3.286307,12,2021
29,1001_2022-01-01,1001,Autauga County,Alabama,2022-01-01,3.296781,1,2022

In [153]:
df_temp.dtypes

row_id                         category
cfips                             int64
county                         category
state                          category
first_day_of_month       datetime64[ns]
microbusiness_density           float64
month                             int64
year                              int64
dtype: object

In [154]:
df_temp.to_csv('microbusiness_density_forecasting_temp.csv')

In [155]:
# Check for Null values
df_temp.isna().sum()

row_id                   0
cfips                    0
county                   0
state                    0
first_day_of_month       0
microbusiness_density    0
month                    0
year                     0
dtype: int64

In [156]:
df_temp.sort_values('first_day_of_month', inplace=True)
df_temp

,row_id,cfips,county,state,first_day_of_month,microbusiness_density,month,year
0,1001_2019-08-01,1001,Autauga County,Alabama,2019-08-01,3.007682,8,2019
41613,21153_2019-08-01,21153,Magoffin County,Kentucky,2019-08-01,0.336289,8,2019
80652,39057_2019-08-01,39057,Greene County,Ohio,2019-08-01,5.733927,8,2019
5460,5063_2019-08-01,5063,Independence County,Arkansas,2019-08-01,1.865025,8,2019
116805,54021_2019-08-01,54021,Gilmer County,West Virginia,2019-08-01,0.526540,8,2019
...,...,...,...,...,...,...,...,...
26675,17181_2022-10-01,17181,Union County,Illinois,2022-10-01,1.637489,10,2022
95588,47053_2022-10-01,47053,Gibson County,Tennessee,2022-10-01,2.517291,10,2022
43133,21229_2022-10-01,21229,Washington County,Kentucky,2022-10-01,1.592288,10,2022
105143,48353_2022-10-01,48353,Nolan County,Texas,2022-10-01,1.502534,10,2022
122264,56045_2022-10-01,56045,Weston County,Wyoming,2022-10-01,1.785395,10,2022

In [157]:
df_temp['row_id'].dtype

CategoricalDtype(categories=['10001_2019-08-01', '10001_2019-09-01', '10001_2019-10-01',
                  '10001_2019-11-01', '10001_2019-12-01', '10001_2020-01-01',
                  '10001_2020-02-01', '10001_2020-03-01', '10001_2020-04-01',
                  '10001_2020-05-01',
                  ...
                  '9015_2022-01-01', '9015_2022-02-01', '9015_2022-03-01',
                  '9015_2022-04-01', '9015_2022-05-01', '9015_2022-06-01',
                  '9015_2022-07-01', '9015_2022-08-01', '9015_2022-09-01',
                  '9015_2022-10-01'],
, ordered=True)

In [158]:
df_temp['row_id'].dtype

CategoricalDtype(categories=['10001_2019-08-01', '10001_2019-09-01', '10001_2019-10-01',
                  '10001_2019-11-01', '10001_2019-12-01', '10001_2020-01-01',
                  '10001_2020-02-01', '10001_2020-03-01', '10001_2020-04-01',
                  '10001_2020-05-01',
                  ...
                  '9015_2022-01-01', '9015_2022-02-01', '9015_2022-03-01',
                  '9015_2022-04-01', '9015_2022-05-01', '9015_2022-06-01',
                  '9015_2022-07-01', '9015_2022-08-01', '9015_2022-09-01',
                  '9015_2022-10-01'],
, ordered=True)

In [159]:
# Turn categorical columns to numbers
for label, content in df_temp.items():
    if pd.api.types.is_categorical_dtype(content):
        # Turn into category codes starting with one
        df_temp[label] = pd.Categorical(content).codes+1

In [160]:
df_temp

,row_id,cfips,county,state,first_day_of_month,microbusiness_density,month,year
0,118,1001,83,1,2019-08-01,3.007682,8,2019
41613,32410,21153,1027,18,2019-08-01,0.336289,8,2019
80652,72073,39057,685,36,2019-08-01,5.733927,8,2019
5460,103039,5063,811,4,2019-08-01,1.865025,8,2019
116805,111736,54021,643,49,2019-08-01,0.526540,8,2019
...,...,...,...,...,...,...,...,...
26675,17043,17181,1714,14,2022-10-01,1.637489,10,2022
95588,87594,47053,637,43,2022-10-01,2.517291,10,2022
43133,33930,21229,1770,18,2022-10-01,1.592288,10,2022
105143,97149,48353,1199,44,2022-10-01,1.502534,10,2022
122264,117195,56045,1794,51,2022-10-01,1.785395,10,2022

In [161]:
# Remove first_day_of_month column as it is no longer useful
df_temp.drop('first_day_of_month', axis=1, inplace=True)

In [162]:
# Split into X & y
X = df_temp.drop('microbusiness_density', axis=1)
y = df_temp['microbusiness_density']
y

0         3.007682
41613     0.336289
80652     5.733927
5460      1.865025
116805    0.526540
            ...
26675     1.637489
95588     2.517291
43133     1.592288
105143    1.502534
122264    1.785395
Name: microbusiness_density, Length: 122265, dtype: float64

In [163]:
X

        row_id  cfips  county  state  month  year
0          118   1001      83      1      8  2019
41613    32410  21153    1027     18      8  2019
80652    72073  39057     685     36      8  2019
5460    103039   5063     811      4      8  2019
116805  111736  54021     643     49      8  2019
...        ...    ...     ...    ...    ...   ...
26675    17043  17181    1714     14     10  2022
95588    87594  47053     637     43     10  2022
43133    33930  21229    1770     18     10  2022
105143   97149  48353    1199     44     10  2022
122264  117195  56045    1794     51     10  2022

[122265 rows x 6 columns]

In [164]:
# Split data
train_size = 0.8
val_size = 0.2

X_train = X[:round(train_size*len(X))]
y_train = y[:round(train_size*len(y))]

X_val = X[len(X_train):]
y_val = y[len(y_train):]

In [165]:
X_train

        row_id  cfips  county  state  month  year
0          118   1001      83      1      8  2019
41613    32410  21153    1027     18      8  2019
80652    72073  39057     685     36      8  2019
5460    103039   5063     811      4      8  2019
116805  111736  54021     643     49      8  2019
...        ...    ...     ...    ...    ...   ...
116095  111026  53061    1550     48      3  2022
104434   96440  48317    1049     44      3  2022
79864    71285  39015     214     36      3  2022
58297    49718  29027     251     26      3  2022
99247    91253  48051     231     44      3  2022

[97812 rows x 6 columns]

In [166]:
y_train

0         3.007682
41613     0.336289
80652     5.733927
5460      1.865025
116805    0.526540
            ...
116095    8.121901
104434    2.377875
79864     1.512580
58297     2.180545
99247     6.266245
Name: microbusiness_density, Length: 97812, dtype: float64

In [167]:
X_val

        row_id  cfips  county  state  month  year
95425    87431  47045     521     43      3  2022
67618    59039  31165    1541     28      3  2022
74794    66215  37061     517     34      3  2022
49717    41138  26091     972     23      3  2022
10873   120893   8071     952      6      3  2022
...        ...    ...     ...    ...    ...   ...
26675    17043  17181    1714     14     10  2022
95588    87594  47053     637     43     10  2022
43133    33930  21229    1770     18     10  2022
105143   97149  48353    1199     44     10  2022
122264  117195  56045    1794     51     10  2022

[24453 rows x 6 columns]

In [168]:
y_val

95425     1.420915
67618     0.506586
74794     1.058036
49717     4.448828
10873     3.785031
            ...
26675     1.637489
95588     2.517291
43133     1.592288
105143    1.502534
122264    1.785395
Name: microbusiness_density, Length: 24453, dtype: float64

In [169]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 122265 entries, 0 to 122264
Data columns (total 7 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   row_id                 122265 non-null  int32
 1   cfips                  122265 non-null  int64
 2   county                 122265 non-null  int16
 3   state                  122265 non-null  int8
 4   microbusiness_density  122265 non-null  float64
 5   month                  122265 non-null  int64
 6   year                   122265 non-null  int64
dtypes: float64(1), int16(1), int32(1), int64(3), int8(1)
memory usage: 5.5 MB

In [170]:
from sklearn.ensemble import RandomForestRegressor

In [171]:
import pandas as pd 
from pandas import MultiIndex, Int16Dtype
import xgboost as xgb

In [172]:
from xgboost import XGBRFRegressor

In [173]:
np.random.seed(42)

# Instantiate model
model = XGBRFRegressor(n_jobs=-1)

# FIt model
model.fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\xgboost\data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

XGBRFRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
               colsample_bytree=1, enable_categorical=False, gamma=0, gpu_id=-1,
               importance_type=None, interaction_constraints='',
               max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
               monotone_constraints='()', n_estimators=100, n_jobs=-1,
               num_parallel_tree=100, objective='reg:squarederror',
               predictor='auto', random_state=0, reg_alpha=0,
               scale_pos_weight=1, tree_method='exact', validate_parameters=1,
               verbosity=None)

In [174]:
model.score(X_train, y_train)

0.440226602773344

In [175]:
y_preds = model.predict(X_val)
y_preds

array([3.3695235, 2.9281871, 3.683925 , ..., 2.382376 , 3.3695235,
       2.1094105], dtype=float32)

In [176]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [177]:
mse = mean_squared_error(y_val, y_preds)
mse

20.107812168561345

In [178]:
mae = mean_absolute_error(y_val, y_preds)
mae

2.1147276327072477

In [179]:
def smape(y_val, y_preds):
    return 100/len(y_val) * np.sum(2 * np.abs(y_preds - y_val) / (np.abs(y_val) + np.abs(y_preds)))


print(smape(y_val, y_preds))

52.80221583623753

In [180]:
df_temp.corr()

,row_id,cfips,county,state,microbusiness_density,month,year
row_id,1.000000,6.391735e-01,6.130292e-02,6.464134e-01,0.084429,-1.371349e-05,3.056675e-04
cfips,0.639173,1.000000e+00,1.349395e-02,9.994320e-01,-0.011767,-1.595760e-15,-2.249911e-14
county,0.061303,1.349395e-02,1.000000e+00,9.634847e-03,0.015986,-6.518271e-16,-1.129626e-14
state,0.646413,9.994320e-01,9.634847e-03,1.000000e+00,-0.011107,-2.455960e-16,-2.057962e-14
microbusiness_density,0.084429,-1.176709e-02,1.598633e-02,-1.110732e-02,1.000000,2.121343e-03,1.702471e-02
month,-0.000014,-1.595760e-15,-6.518271e-16,-2.455960e-16,0.002121,1.000000e+00,-3.257756e-01
year,0.000306,-2.249911e-14,-1.129626e-14,-2.057962e-14,0.017025,-3.257756e-01,1.000000e+00

In [181]:
df_test = pd.read_csv('C:/Users\Boma Allwell-Brown/Downloads/godaddy-microbusiness-density-forecasting/test.csv',
                      parse_dates=['first_day_of_month'])
df_test

                 row_id  cfips first_day_of_month
0       1001_2022-11-01   1001         2022-11-01
1       1003_2022-11-01   1003         2022-11-01
2       1005_2022-11-01   1005         2022-11-01
3       1007_2022-11-01   1007         2022-11-01
4       1009_2022-11-01   1009         2022-11-01
...                 ...    ...                ...
25075  56037_2023-06-01  56037         2023-06-01
25076  56039_2023-06-01  56039         2023-06-01
25077  56041_2023-06-01  56041         2023-06-01
25078  56043_2023-06-01  56043         2023-06-01
25079  56045_2023-06-01  56045         2023-06-01

[25080 rows x 3 columns]

In [182]:
df_temp

        row_id  cfips  county  state  microbusiness_density  month  year
0          118   1001      83      1               3.007682      8  2019
41613    32410  21153    1027     18               0.336289      8  2019
80652    72073  39057     685     36               5.733927      8  2019
5460    103039   5063     811      4               1.865025      8  2019
116805  111736  54021     643     49               0.526540      8  2019
...        ...    ...     ...    ...                    ...    ...   ...
26675    17043  17181    1714     14               1.637489     10  2022
95588    87594  47053     637     43               2.517291     10  2022
43133    33930  21229    1770     18               1.592288     10  2022
105143   97149  48353    1199     44               1.502534     10  2022
122264  117195  56045    1794     51               1.785395     10  2022

[122265 rows x 7 columns]

In [183]:
# Find missing columns not in df_test
missing_columns = set(df_temp.columns) - set(df_test)
missing_columns

{'county', 'microbusiness_density', 'month', 'state', 'year'}

In [184]:
df_microbusiness['county'].unique()

array(['Autauga County', 'Baldwin County', 'Barbour County', ...,
       'Uinta County', 'Washakie County', 'Weston County'], dtype=object)

In [186]:
df_test_copy = df_test.copy()
df_test_copy

                 row_id  cfips first_day_of_month
0       1001_2022-11-01   1001         2022-11-01
1       1003_2022-11-01   1003         2022-11-01
2       1005_2022-11-01   1005         2022-11-01
3       1007_2022-11-01   1007         2022-11-01
4       1009_2022-11-01   1009         2022-11-01
...                 ...    ...                ...
25075  56037_2023-06-01  56037         2023-06-01
25076  56039_2023-06-01  56039         2023-06-01
25077  56041_2023-06-01  56041         2023-06-01
25078  56043_2023-06-01  56043         2023-06-01
25079  56045_2023-06-01  56045         2023-06-01

[25080 rows x 3 columns]

In [187]:
# Add column for month and year
df_test['month'] = df_test.first_day_of_month.dt.month
df_test['year'] = df_test.first_day_of_month.dt.year
df_test

                 row_id  cfips first_day_of_month  month  year
0       1001_2022-11-01   1001         2022-11-01     11  2022
1       1003_2022-11-01   1003         2022-11-01     11  2022
2       1005_2022-11-01   1005         2022-11-01     11  2022
3       1007_2022-11-01   1007         2022-11-01     11  2022
4       1009_2022-11-01   1009         2022-11-01     11  2022
...                 ...    ...                ...    ...   ...
25075  56037_2023-06-01  56037         2023-06-01      6  2023
25076  56039_2023-06-01  56039         2023-06-01      6  2023
25077  56041_2023-06-01  56041         2023-06-01      6  2023
25078  56043_2023-06-01  56043         2023-06-01      6  2023
25079  56045_2023-06-01  56045         2023-06-01      6  2023

[25080 rows x 5 columns]

In [188]:
# Find missing columns not in df_test
missing_columns = set(df_temp.columns) - set(df_test)
missing_columns

{'county', 'microbusiness_density', 'state'}

In [189]:
df_microbusiness

,row_id,cfips,county,state,first_day_of_month,microbusiness_density
0,1001_2019-08-01,1001,Autauga County,Alabama,2019-08-01,3.007682
1,1001_2019-09-01,1001,Autauga County,Alabama,2019-09-01,2.884870
2,1001_2019-10-01,1001,Autauga County,Alabama,2019-10-01,3.055843
3,1001_2019-11-01,1001,Autauga County,Alabama,2019-11-01,2.993233
4,1001_2019-12-01,1001,Autauga County,Alabama,2019-12-01,2.993233
...,...,...,...,...,...,...
122260,56045_2022-06-01,56045,Weston County,Wyoming,2022-06-01,1.803249
122261,56045_2022-07-01,56045,Weston County,Wyoming,2022-07-01,1.803249
122262,56045_2022-08-01,56045,Weston County,Wyoming,2022-08-01,1.785395
122263,56045_2022-09-01,56045,Weston County,Wyoming,2022-09-01,1.785395
122264,56045_2022-10-01,56045,Weston County,Wyoming,2022-10-01,1.785395

In [190]:
# Create dictionary for cfips: county
df_county_dict = pd.Series(df_microbusiness.county.values,index=df_microbusiness.cfips).to_dict()

In [191]:
df_county_dict

{1001: 'Autauga County',
 1003: 'Baldwin County',
 1005: 'Barbour County',
 1007: 'Bibb County',
 1009: 'Blount County',
 1011: 'Bullock County',
 1013: 'Butler County',
 1015: 'Calhoun County',
 1017: 'Chambers County',
 1019: 'Cherokee County',
 1021: 'Chilton County',
 1023: 'Choctaw County',
 1025: 'Clarke County',
 1027: 'Clay County',
 1029: 'Cleburne County',
 1031: 'Coffee County',
 1033: 'Colbert County',
 1035: 'Conecuh County',
 1037: 'Coosa County',
 1039: 'Covington County',
 1041: 'Crenshaw County',
 1043: 'Cullman County',
 1045: 'Dale County',
 1047: 'Dallas County',
 1049: 'DeKalb County',
 1051: 'Elmore County',
 1053: 'Escambia County',
 1055: 'Etowah County',
 1057: 'Fayette County',
 1059: 'Franklin County',
 1061: 'Geneva County',
 1063: 'Greene County',
 1065: 'Hale County',
 1067: 'Henry County',
 1069: 'Houston County',
 1071: 'Jackson County',
 1073: 'Jefferson County',
 1075: 'Lamar County',
 1077: 'Lauderdale County',
 1079: 'Lawrence County',
 1081: 'Lee County',
 1083: 'Limestone County',
 1085: 'Lowndes County',
 1087: 'Macon County',
 1089: 'Madison County',
 1091: 'Marengo County',
 1093: 'Marion County',
 1095: 'Marshall County',
 1097: 'Mobile County',
 1099: 'Monroe County',
 1101: 'Montgomery County',
 1103: 'Morgan County',
 1105: 'Perry County',
 1107: 'Pickens County',
 1109: 'Pike County',
 1111: 'Randolph County',
 1113: 'Russell County',
 1115: 'St. Clair County',
 1117: 'Shelby County',
 1119: 'Sumter County',
 1121: 'Talladega County',
 1123: 'Tallapoosa County',
 1125: 'Tuscaloosa County',
 1127: 'Walker County',
 1129: 'Washington County',
 1131: 'Wilcox County',
 1133: 'Winston County',
 2013: 'Aleutians East Borough',
 2016: 'Aleutians West Census Area',
 2020: 'Anchorage Municipality',
 2050: 'Bethel Census Area',
 2060: 'Bristol Bay Borough',
 2068: 'Denali Borough',
 2070: 'Dillingham Census Area',
 2090: 'Fairbanks North Star Borough',
 2100: 'Haines Borough',
 2105: 'Hoonah-Angoon Census Area',
 2110: 'Juneau City and Borough',
 2122: 'Kenai Peninsula Borough',
 2130: 'Ketchikan Gateway Borough',
 2150: 'Kodiak Island Borough',
 2164: 'Lake and Peninsula Borough',
 2170: 'Matanuska-Susitna Borough',
 2180: 'Nome Census Area',
 2185: 'North Slope Borough',
 2188: 'Northwest Arctic Borough',
 2195: 'Petersburg Borough',
 2198: 'Prince of Wales-Hyder Census Area',
 2220: 'Sitka City and Borough',
 2230: 'Skagway Municipality',
 2240: 'Southeast Fairbanks Census Area',
 2275: 'Wrangell City and Borough',
 2282: 'Yakutat City and Borough',
 2290: 'Yukon-Koyukuk Census Area',
 4001: 'Apache County',
 4003: 'Cochise County',
 4005: 'Coconino County',
 4007: 'Gila County',
 4009: 'Graham County',
 4011: 'Greenlee County',
 4012: 'La Paz County',
 4013: 'Maricopa County',
 4015: 'Mohave County',
 4017: 'Navajo County',
 4019: 'Pima County',
 4021: 'Pinal County',
 4023: 'Santa Cruz County',
 4025: 'Yavapai County',
 4027: 'Yuma County',
 5001: 'Arkansas County',
 5003: 'Ashley County',
 5005: 'Baxter County',
 5007: 'Benton County',
 5009: 'Boone County',
 5011: 'Bradley County',
 5013: 'Calhoun County',
 5015: 'Carroll County',
 5017: 'Chicot County',
 5019: 'Clark County',
 5021: 'Clay County',
 5023: 'Cleburne County',
 5025: 'Cleveland County',
 5027: 'Columbia County',
 5029: 'Conway County',
 5031: 'Craighead County',
 5033: 'Crawford County',
 5035: 'Crittenden County',
 5037: 'Cross County',
 5039: 'Dallas County',
 5041: 'Desha County',
 5043: 'Drew County',
 5045: 'Faulkner County',
 5047: 'Franklin County',
 5049: 'Fulton County',
 5051: 'Garland County',
 5053: 'Grant County',
 5055: 'Greene County',
 5057: 'Hempstead County',
 5059: 'Hot Spring County',
 5061: 'Howard County',
 5063: 'Independence County',
 5065: 'Izard County',
 5067: 'Jackson County',
 5069: 'Jefferson County',
 5071: 'Johnson County',
 5073: 'Lafayette County',
 5075: 'Lawrence County',
 5077: 'Lee County',
 5079: 'Lincoln County',
 5081: 'Little River County',
 5083: 'Logan County',
 5085: 'Lonoke County',
 5087: 'Madison County',
 5089: 'Marion County',
 5091: 'Miller County',
 5093: 'Mississippi County',
 5095: 'Monroe County',
 5097: 'Montgomery County',
 5099: 'Nevada County',
 5101: 'Newton County',
 5103: 'Ouachita County',
 5105: 'Perry County',
 5107: 'Phillips County',
 5109: 'Pike County',
 5111: 'Poinsett County',
 5113: 'Polk County',
 5115: 'Pope County',
 5117: 'Prairie County',
 5119: 'Pulaski County',
 5121: 'Randolph County',
 5123: 'St. Francis County',
 5125: 'Saline County',
 5127: 'Scott County',
 5129: 'Searcy County',
 5131: 'Sebastian County',
 5133: 'Sevier County',
 5135: 'Sharp County',
 5137: 'Stone County',
 5139: 'Union County',
 5141: 'Van Buren County',
 5143: 'Washington County',
 5145: 'White County',
 5147: 'Woodruff County',
 5149: 'Yell County',
 6001: 'Alameda County',
 6003: 'Alpine County',
 6005: 'Amador County',
 6007: 'Butte County',
 6009: 'Calaveras County',
 6011: 'Colusa County',
 6013: 'Contra Costa County',
 6015: 'Del Norte County',
 6017: 'El Dorado County',
 6019: 'Fresno County',
 6021: 'Glenn County',
 6023: 'Humboldt County',
 6025: 'Imperial County',
 6027: 'Inyo County',
 6029: 'Kern County',
 6031: 'Kings County',
 6033: 'Lake County',
 6035: 'Lassen County',
 6037: 'Los Angeles County',
 6039: 'Madera County',
 6041: 'Marin County',
 6043: 'Mariposa County',
 6045: 'Mendocino County',
 6047: 'Merced County',
 6049: 'Modoc County',
 6051: 'Mono County',
 6053: 'Monterey County',
 6055: 'Napa County',
 6057: 'Nevada County',
 6059: 'Orange County',
 6061: 'Placer County',
 6063: 'Plumas County',
 6065: 'Riverside County',
 6067: 'Sacramento County',
 6069: 'San Benito County',
 6071: 'San Bernardino County',
 6073: 'San Diego County',
 6075: 'San Francisco County',
 6077: 'San Joaquin County',
 6079: 'San Luis Obispo County',
 6081: 'San Mateo County',
 6083: 'Santa Barbara County',
 6085: 'Santa Clara County',
 6087: 'Santa Cruz County',
 6089: 'Shasta County',
 6091: 'Sierra County',
 6093: 'Siskiyou County',
 6095: 'Solano County',
 6097: 'Sonoma County',
 6099: 'Stanislaus County',
 6101: 'Sutter County',
 6103: 'Tehama County',
 6105: 'Trinity County',
 6107: 'Tulare County',
 6109: 'Tuolumne County',
 6111: 'Ventura County',
 6113: 'Yolo County',
 6115: 'Yuba County',
 8001: 'Adams County',
 8003: 'Alamosa County',
 8005: 'Arapahoe County',
 8007: 'Archuleta County',
 8009: 'Baca County',
 8011: 'Bent County',
 8013: 'Boulder County',
 8014: 'Broomfield County',
 8015: 'Chaffee County',
 8017: 'Cheyenne County',
 8019: 'Clear Creek County',
 8021: 'Conejos County',
 8023: 'Costilla County',
 8025: 'Crowley County',
 8027: 'Custer County',
 8029: 'Delta County',
 8031: 'Denver County',
 8033: 'Dolores County',
 8035: 'Douglas County',
 8037: 'Eagle County',
 8039: 'Elbert County',
 8041: 'El Paso County',
 8043: 'Fremont County',
 8045: 'Garfield County',
 8047: 'Gilpin County',
 8049: 'Grand County',
 8051: 'Gunnison County',
 8053: 'Hinsdale County',
 8055: 'Huerfano County',
 8057: 'Jackson County',
 8059: 'Jefferson County',
 8061: 'Kiowa County',
 8063: 'Kit Carson County',
 8065: 'Lake County',
 8067: 'La Plata County',
 8069: 'Larimer County',
 8071: 'Las Animas County',
 8073: 'Lincoln County',
 8075: 'Logan County',
 8077: 'Mesa County',
 8079: 'Mineral County',
 8081: 'Moffat County',
 8083: 'Montezuma County',
 8085: 'Montrose County',
 8087: 'Morgan County',
 8089: 'Otero County',
 8091: 'Ouray County',
 8093: 'Park County',
 8095: 'Phillips County',
 8097: 'Pitkin County',
 8099: 'Prowers County',
 8101: 'Pueblo County',
 8103: 'Rio Blanco County',
 8105: 'Rio Grande County',
 8107: 'Routt County',
 8109: 'Saguache County',
 8111: 'San Juan County',
 8113: 'San Miguel County',
 8115: 'Sedgwick County',
 8117: 'Summit County',
 8119: 'Teller County',
 8121: 'Washington County',
 8123: 'Weld County',
 8125: 'Yuma County',
 9001: 'Fairfield County',
 9003: 'Hartford County',
 9005: 'Litchfield County',
 9007: 'Middlesex County',
 9009: 'New Haven County',
 9011: 'New London County',
 9013: 'Tolland County',
 9015: 'Windham County',
 10001: 'Kent County',
 10003: 'New Castle County',
 10005: 'Sussex County',
 11001: 'District of Columbia',
 12001: 'Alachua County',
 12003: 'Baker County',
 12005: 'Bay County',
 12007: 'Bradford County',
 12009: 'Brevard County',
 12011: 'Broward County',
 12013: 'Calhoun County',
 12015: 'Charlotte County',
 12017: 'Citrus County',
 12019: 'Clay County',
 12021: 'Collier County',
 12023: 'Columbia County',
 12027: 'DeSoto County',
 12029: 'Dixie County',
 12031: 'Duval County',
 12033: 'Escambia County',
 12035: 'Flagler County',
 12037: 'Franklin County',
 12039: 'Gadsden County',
 12041: 'Gilchrist County',
 12043: 'Glades County',
 12045: 'Gulf County',
 12047: 'Hamilton County',
 12049: 'Hardee County',
 12051: 'Hendry County',
 12053: 'Hernando County',
 12055: 'Highlands County',
 12057: 'Hillsborough County',
 12059: 'Holmes County',
 12061: 'Indian River County',
 12063: 'Jackson County',
 12065: 'Jefferson County',
 12067: 'Lafayette County',
 12069: 'Lake County',
 12071: 'Lee County',
 12073: 'Leon County',
 12075: 'Levy County',
 12077: 'Liberty County',
 12079: 'Madison County',
 12081: 'Manatee County',
 12083: 'Marion County',
 12085: 'Martin County',
 12086: 'Miami-Dade County',
 12087: 'Monroe County',
 12089: 'Nassau County',
 12091: 'Okaloosa County',
 12093: 'Okeechobee County',
 12095: 'Orange County',
 12097: 'Osceola County',
 12099: 'Palm Beach County',
 12101: 'Pasco County',
 12103: 'Pinellas County',
 12105: 'Polk County',
 12107: 'Putnam County',
 12109: 'St. Johns County',
 12111: 'St. Lucie County',
 12113: 'Santa Rosa County',
 12115: 'Sarasota County',
 12117: 'Seminole County',
 12119: 'Sumter County',
 12121: 'Suwannee County',
 12123: 'Taylor County',
 12125: 'Union County',
 12127: 'Volusia County',
 12129: 'Wakulla County',
 12131: 'Walton County',
 12133: 'Washington County',
 13001: 'Appling County',
 13003: 'Atkinson County',
 13005: 'Bacon County',
 13007: 'Baker County',
 13009: 'Baldwin County',
 13011: 'Banks County',
 13013: 'Barrow County',
 13015: 'Bartow County',
 13017: 'Ben Hill County',
 13019: 'Berrien County',
 13021: 'Bibb County',
 13023: 'Bleckley County',
 13025: 'Brantley County',
 13027: 'Brooks County',
 13029: 'Bryan County',
 13031: 'Bulloch County',
 13033: 'Burke County',
 13035: 'Butts County',
 13037: 'Calhoun County',
 13039: 'Camden County',
 13043: 'Candler County',
 13045: 'Carroll County',
 13047: 'Catoosa County',
 13049: 'Charlton County',
 13051: 'Chatham County',
 13053: 'Chattahoochee County',
 13055: 'Chattooga County',
 13057: 'Cherokee County',
 13059: 'Clarke County',
 13061: 'Clay County',
 13063: 'Clayton County',
 13065: 'Clinch County',
 13067: 'Cobb County',
 13069: 'Coffee County',
 13071: 'Colquitt County',
 13073: 'Columbia County',
 13075: 'Cook County',
 13077: 'Coweta County',
 13079: 'Crawford County',
 13081: 'Crisp County',
 13083: 'Dade County',
 13085: 'Dawson County',
 13087: 'Decatur County',
 13089: 'DeKalb County',
 13091: 'Dodge County',
 13093: 'Dooly County',
 13095: 'Dougherty County',
 13097: 'Douglas County',
 13099: 'Early County',
 13101: 'Echols County',
 13103: 'Effingham County',
 13105: 'Elbert County',
 13107: 'Emanuel County',
 13109: 'Evans County',
 13111: 'Fannin County',
 13113: 'Fayette County',
 13115: 'Floyd County',
 13117: 'Forsyth County',
 13119: 'Franklin County',
 13121: 'Fulton County',
 13123: 'Gilmer County',
 13125: 'Glascock County',
 13127: 'Glynn County',
 13129: 'Gordon County',
 13131: 'Grady County',
 13133: 'Greene County',
 13135: 'Gwinnett County',
 13137: 'Habersham County',
 13139: 'Hall County',
 13141: 'Hancock County',
 13143: 'Haralson County',
 13145: 'Harris County',
 13147: 'Hart County',
 13149: 'Heard County',
 13151: 'Henry County',
 13153: 'Houston County',
 13155: 'Irwin County',
 13157: 'Jackson County',
 13159: 'Jasper County',
 13161: 'Jeff Davis County',
 13163: 'Jefferson County',
 13165: 'Jenkins County',
 13167: 'Johnson County',
 13169: 'Jones County',
 13171: 'Lamar County',
 13173: 'Lanier County',
 13175: 'Laurens County',
 13177: 'Lee County',
 13179: 'Liberty County',
 13181: 'Lincoln County',
 13183: 'Long County',
 13185: 'Lowndes County',
 13187: 'Lumpkin County',
 13189: 'McDuffie County',
 13191: 'McIntosh County',
 13193: 'Macon County',
 13195: 'Madison County',
 13197: 'Marion County',
 13199: 'Meriwether County',
 13201: 'Miller County',
 13205: 'Mitchell County',
 13207: 'Monroe County',
 13209: 'Montgomery County',
 13211: 'Morgan County',
 13213: 'Murray County',
 13215: 'Muscogee County',
 13217: 'Newton County',
 13219: 'Oconee County',
 13221: 'Oglethorpe County',
 13223: 'Paulding County',
 13225: 'Peach County',
 13227: 'Pickens County',
 13229: 'Pierce County',
 13231: 'Pike County',
 13233: 'Polk County',
 13235: 'Pulaski County',
 13237: 'Putnam County',
 13239: 'Quitman County',
 13241: 'Rabun County',
 13243: 'Randolph County',
 13245: 'Richmond County',
 13247: 'Rockdale County',
 13249: 'Schley County',
 13251: 'Screven County',
 13253: 'Seminole County',
 13255: 'Spalding County',
 13257: 'Stephens County',
 13259: 'Stewart County',
 13261: 'Sumter County',
 13263: 'Talbot County',
 13265: 'Taliaferro County',
 13267: 'Tattnall County',
 13269: 'Taylor County',
 13271: 'Telfair County',
 13273: 'Terrell County',
 13275: 'Thomas County',
 13277: 'Tift County',
 13279: 'Toombs County',
 13281: 'Towns County',
 13283: 'Treutlen County',
 13285: 'Troup County',
 13287: 'Turner County',
 13289: 'Twiggs County',
 13291: 'Union County',
 13293: 'Upson County',
 13295: 'Walker County',
 13297: 'Walton County',
 13299: 'Ware County',
 13301: 'Warren County',
 13303: 'Washington County',
 13305: 'Wayne County',
 13307: 'Webster County',
 13309: 'Wheeler County',
 13311: 'White County',
 13313: 'Whitfield County',
 13315: 'Wilcox County',
 13317: 'Wilkes County',
 13319: 'Wilkinson County',
 13321: 'Worth County',
 15001: 'Hawaii County',
 15003: 'Honolulu County',
 15005: 'Kalawao County',
 15007: 'Kauai County',
 15009: 'Maui County',
 16001: 'Ada County',
 16003: 'Adams County',
 16005: 'Bannock County',
 16007: 'Bear Lake County',
 16009: 'Benewah County',
 16011: 'Bingham County',
 16013: 'Blaine County',
 16015: 'Boise County',
 16017: 'Bonner County',
 16019: 'Bonneville County',
 16021: 'Boundary County',
 16023: 'Butte County',
 16025: 'Camas County',
 16027: 'Canyon County',
 16029: 'Caribou County',
 16031: 'Cassia County',
 16033: 'Clark County',
 16035: 'Clearwater County',
 16037: 'Custer County',
 16039: 'Elmore County',
 16041: 'Franklin County',
 16043: 'Fremont County',
 16045: 'Gem County',
 16047: 'Gooding County',
 16049: 'Idaho County',
 16051: 'Jefferson County',
 16053: 'Jerome County',
 16055: 'Kootenai County',
 16057: 'Latah County',
 16059: 'Lemhi County',
 16061: 'Lewis County',
 16063: 'Lincoln County',
 16065: 'Madison County',
 16067: 'Minidoka County',
 16069: 'Nez Perce County',
 16071: 'Oneida County',
 16073: 'Owyhee County',
 16075: 'Payette County',
 16077: 'Power County',
 16079: 'Shoshone County',
 16081: 'Teton County',
 16083: 'Twin Falls County',
 16085: 'Valley County',
 16087: 'Washington County',
 17001: 'Adams County',
 17003: 'Alexander County',
 17005: 'Bond County',
 17007: 'Boone County',
 17009: 'Brown County',
 17011: 'Bureau County',
 17013: 'Calhoun County',
 17015: 'Carroll County',
 17017: 'Cass County',
 17019: 'Champaign County',
 17021: 'Christian County',
 17023: 'Clark County',
 17025: 'Clay County',
 17027: 'Clinton County',
 17029: 'Coles County',
 17031: 'Cook County',
 17033: 'Crawford County',
 17035: 'Cumberland County',
 17037: 'DeKalb County',
 17039: 'De Witt County',
 17041: 'Douglas County',
 17043: 'DuPage County',
 17045: 'Edgar County',
 17047: 'Edwards County',
 17049: 'Effingham County',
 17051: 'Fayette County',
 17053: 'Ford County',
 17055: 'Franklin County',
 17057: 'Fulton County',
 17059: 'Gallatin County',
 17061: 'Greene County',
 17063: 'Grundy County',
 17065: 'Hamilton County',
 17067: 'Hancock County',
 17069: 'Hardin County',
 17071: 'Henderson County',
 17073: 'Henry County',
 17075: 'Iroquois County',
 17077: 'Jackson County',
 17079: 'Jasper County',
 17081: 'Jefferson County',
 17083: 'Jersey County',
 17085: 'Jo Daviess County',
 17087: 'Johnson County',
 17089: 'Kane County',
 17091: 'Kankakee County',
 17093: 'Kendall County',
 17095: 'Knox County',
 17097: 'Lake County',
 17099: 'LaSalle County',
 17101: 'Lawrence County',
 17103: 'Lee County',
 17105: 'Livingston County',
 17107: 'Logan County',
 17109: 'McDonough County',
 17111: 'McHenry County',
 17113: 'McLean County',
 17115: 'Macon County',
 17117: 'Macoupin County',
 17119: 'Madison County',
 17121: 'Marion County',
 17123: 'Marshall County',
 17125: 'Mason County',
 17127: 'Massac County',
 17129: 'Menard County',
 17131: 'Mercer County',
 17133: 'Monroe County',
 17135: 'Montgomery County',
 17137: 'Morgan County',
 17139: 'Moultrie County',
 17141: 'Ogle County',
 17143: 'Peoria County',
 17145: 'Perry County',
 17147: 'Piatt County',
 17149: 'Pike County',
 17151: 'Pope County',
 17153: 'Pulaski County',
 17155: 'Putnam County',
 17157: 'Randolph County',
 17159: 'Richland County',
 17161: 'Rock Island County',
 17163: 'St. Clair County',
 17165: 'Saline County',
 17167: 'Sangamon County',
 17169: 'Schuyler County',
 17171: 'Scott County',
 17173: 'Shelby County',
 17175: 'Stark County',
 17177: 'Stephenson County',
 17179: 'Tazewell County',
 17181: 'Union County',
 17183: 'Vermilion County',
 17185: 'Wabash County',
 17187: 'Warren County',
 17189: 'Washington County',
 17191: 'Wayne County',
 17193: 'White County',
 17195: 'Whiteside County',
 17197: 'Will County',
 17199: 'Williamson County',
 17201: 'Winnebago County',
 17203: 'Woodford County',
 18001: 'Adams County',
 18003: 'Allen County',
 18005: 'Bartholomew County',
 18007: 'Benton County',
 18009: 'Blackford County',
 18011: 'Boone County',
 18013: 'Brown County',
 18015: 'Carroll County',
 18017: 'Cass County',
 18019: 'Clark County',
 18021: 'Clay County',
 18023: 'Clinton County',
 18025: 'Crawford County',
 18027: 'Daviess County',
 18029: 'Dearborn County',
 18031: 'Decatur County',
 18033: 'DeKalb County',
 18035: 'Delaware County',
 18037: 'Dubois County',
 18039: 'Elkhart County',
 18041: 'Fayette County',
 18043: 'Floyd County',
 18045: 'Fountain County',
 18047: 'Franklin County',
 18049: 'Fulton County',
 18051: 'Gibson County',
 18053: 'Grant County',
 18055: 'Greene County',
 18057: 'Hamilton County',
 18059: 'Hancock County',
 18061: 'Harrison County',
 18063: 'Hendricks County',
 18065: 'Henry County',
 18067: 'Howard County',
 18069: 'Huntington County',
 18071: 'Jackson County',
 18073: 'Jasper County',
 18075: 'Jay County',
 18077: 'Jefferson County',
 18079: 'Jennings County',
 18081: 'Johnson County',
 18083: 'Knox County',
 18085: 'Kosciusko County',
 18087: 'LaGrange County',
 18089: 'Lake County',
 18091: 'LaPorte County',
 18093: 'Lawrence County',
 18095: 'Madison County',
 18097: 'Marion County',
 18099: 'Marshall County',
 18101: 'Martin County',
 18103: 'Miami County',
 18105: 'Monroe County',
 18107: 'Montgomery County',
 18109: 'Morgan County',
 18111: 'Newton County',
 18113: 'Noble County',
 18115: 'Ohio County',
 18117: 'Orange County',
 18119: 'Owen County',
 18121: 'Parke County',
 18123: 'Perry County',
 18125: 'Pike County',
 18127: 'Porter County',
 18129: 'Posey County',
 18131: 'Pulaski County',
 18133: 'Putnam County',
 18135: 'Randolph County',
 18137: 'Ripley County',
 18139: 'Rush County',
 18141: 'St. Joseph County',
 18143: 'Scott County',
 18145: 'Shelby County',
 18147: 'Spencer County',
 18149: 'Starke County',
 18151: 'Steuben County',
 18153: 'Sullivan County',
 18155: 'Switzerland County',
 18157: 'Tippecanoe County',
 18159: 'Tipton County',
 18161: 'Union County',
 18163: 'Vanderburgh County',
 18165: 'Vermillion County',

In [192]:
df_test

                 row_id  cfips first_day_of_month  month  year
0       1001_2022-11-01   1001         2022-11-01     11  2022
1       1003_2022-11-01   1003         2022-11-01     11  2022
2       1005_2022-11-01   1005         2022-11-01     11  2022
3       1007_2022-11-01   1007         2022-11-01     11  2022
4       1009_2022-11-01   1009         2022-11-01     11  2022
...                 ...    ...                ...    ...   ...
25075  56037_2023-06-01  56037         2023-06-01      6  2023
25076  56039_2023-06-01  56039         2023-06-01      6  2023
25077  56041_2023-06-01  56041         2023-06-01      6  2023
25078  56043_2023-06-01  56043         2023-06-01      6  2023
25079  56045_2023-06-01  56045         2023-06-01      6  2023

[25080 rows x 5 columns]

In [193]:
# Create county column in df_test
df_test['county'] = df_test['cfips'].map(df_county_dict)

In [194]:
df_test

,row_id,cfips,first_day_of_month,month,year,county
0,1001_2022-11-01,1001,2022-11-01,11,2022,Autauga County
1,1003_2022-11-01,1003,2022-11-01,11,2022,Baldwin County
2,1005_2022-11-01,1005,2022-11-01,11,2022,Barbour County
3,1007_2022-11-01,1007,2022-11-01,11,2022,Bibb County
4,1009_2022-11-01,1009,2022-11-01,11,2022,Blount County
...,...,...,...,...,...,...
25075,56037_2023-06-01,56037,2023-06-01,6,2023,Sweetwater County
25076,56039_2023-06-01,56039,2023-06-01,6,2023,Teton County
25077,56041_2023-06-01,56041,2023-06-01,6,2023,Uinta County
25078,56043_2023-06-01,56043,2023-06-01,6,2023,Washakie County
25079,56045_2023-06-01,56045,2023-06-01,6,2023,Weston County

In [195]:
# Create dictionary for cfips: state 
df_state_dict = pd.Series(df_microbusiness.state.values,index=df_microbusiness.cfips).to_dict()
df_state_dict

{1001: 'Alabama',
 1003: 'Alabama',
 1005: 'Alabama',
 1007: 'Alabama',
 1009: 'Alabama',
 1011: 'Alabama',
 1013: 'Alabama',
 1015: 'Alabama',
 1017: 'Alabama',
 1019: 'Alabama',
 1021: 'Alabama',
 1023: 'Alabama',
 1025: 'Alabama',
 1027: 'Alabama',
 1029: 'Alabama',
 1031: 'Alabama',
 1033: 'Alabama',
 1035: 'Alabama',
 1037: 'Alabama',
 1039: 'Alabama',
 1041: 'Alabama',
 1043: 'Alabama',
 1045: 'Alabama',
 1047: 'Alabama',
 1049: 'Alabama',
 1051: 'Alabama',
 1053: 'Alabama',
 1055: 'Alabama',
 1057: 'Alabama',
 1059: 'Alabama',
 1061: 'Alabama',
 1063: 'Alabama',
 1065: 'Alabama',
 1067: 'Alabama',
 1069: 'Alabama',
 1071: 'Alabama',
 1073: 'Alabama',
 1075: 'Alabama',
 1077: 'Alabama',
 1079: 'Alabama',
 1081: 'Alabama',
 1083: 'Alabama',
 1085: 'Alabama',
 1087: 'Alabama',
 1089: 'Alabama',
 1091: 'Alabama',
 1093: 'Alabama',
 1095: 'Alabama',
 1097: 'Alabama',
 1099: 'Alabama',
 1101: 'Alabama',
 1103: 'Alabama',
 1105: 'Alabama',
 1107: 'Alabama',
 1109: 'Alabama',
 1111: 'Alabama',
 1113: 'Alabama',
 1115: 'Alabama',
 1117: 'Alabama',
 1119: 'Alabama',
 1121: 'Alabama',
 1123: 'Alabama',
 1125: 'Alabama',
 1127: 'Alabama',
 1129: 'Alabama',
 1131: 'Alabama',
 1133: 'Alabama',
 2013: 'Alaska',
 2016: 'Alaska',
 2020: 'Alaska',
 2050: 'Alaska',
 2060: 'Alaska',
 2068: 'Alaska',
 2070: 'Alaska',
 2090: 'Alaska',
 2100: 'Alaska',
 2105: 'Alaska',
 2110: 'Alaska',
 2122: 'Alaska',
 2130: 'Alaska',
 2150: 'Alaska',
 2164: 'Alaska',
 2170: 'Alaska',
 2180: 'Alaska',
 2185: 'Alaska',
 2188: 'Alaska',
 2195: 'Alaska',
 2198: 'Alaska',
 2220: 'Alaska',
 2230: 'Alaska',
 2240: 'Alaska',
 2275: 'Alaska',
 2282: 'Alaska',
 2290: 'Alaska',
 4001: 'Arizona',
 4003: 'Arizona',
 4005: 'Arizona',
 4007: 'Arizona',
 4009: 'Arizona',
 4011: 'Arizona',
 4012: 'Arizona',
 4013: 'Arizona',
 4015: 'Arizona',
 4017: 'Arizona',
 4019: 'Arizona',
 4021: 'Arizona',
 4023: 'Arizona',
 4025: 'Arizona',
 4027: 'Arizona',
 5001: 'Arkansas',
 5003: 'Arkansas',
 5005: 'Arkansas',
 5007: 'Arkansas',
 5009: 'Arkansas',
 5011: 'Arkansas',
 5013: 'Arkansas',
 5015: 'Arkansas',
 5017: 'Arkansas',
 5019: 'Arkansas',
 5021: 'Arkansas',
 5023: 'Arkansas',
 5025: 'Arkansas',
 5027: 'Arkansas',
 5029: 'Arkansas',
 5031: 'Arkansas',
 5033: 'Arkansas',
 5035: 'Arkansas',
 5037: 'Arkansas',
 5039: 'Arkansas',
 5041: 'Arkansas',
 5043: 'Arkansas',
 5045: 'Arkansas',
 5047: 'Arkansas',
 5049: 'Arkansas',
 5051: 'Arkansas',
 5053: 'Arkansas',
 5055: 'Arkansas',
 5057: 'Arkansas',
 5059: 'Arkansas',
 5061: 'Arkansas',
 5063: 'Arkansas',
 5065: 'Arkansas',
 5067: 'Arkansas',
 5069: 'Arkansas',
 5071: 'Arkansas',
 5073: 'Arkansas',
 5075: 'Arkansas',
 5077: 'Arkansas',
 5079: 'Arkansas',
 5081: 'Arkansas',
 5083: 'Arkansas',
 5085: 'Arkansas',
 5087: 'Arkansas',
 5089: 'Arkansas',
 5091: 'Arkansas',
 5093: 'Arkansas',
 5095: 'Arkansas',
 5097: 'Arkansas',
 5099: 'Arkansas',
 5101: 'Arkansas',
 5103: 'Arkansas',
 5105: 'Arkansas',
 5107: 'Arkansas',
 5109: 'Arkansas',
 5111: 'Arkansas',
 5113: 'Arkansas',
 5115: 'Arkansas',
 5117: 'Arkansas',
 5119: 'Arkansas',
 5121: 'Arkansas',
 5123: 'Arkansas',
 5125: 'Arkansas',
 5127: 'Arkansas',
 5129: 'Arkansas',
 5131: 'Arkansas',
 5133: 'Arkansas',
 5135: 'Arkansas',
 5137: 'Arkansas',
 5139: 'Arkansas',
 5141: 'Arkansas',
 5143: 'Arkansas',
 5145: 'Arkansas',
 5147: 'Arkansas',
 5149: 'Arkansas',
 6001: 'California',
 6003: 'California',
 6005: 'California',
 6007: 'California',
 6009: 'California',
 6011: 'California',
 6013: 'California',
 6015: 'California',
 6017: 'California',
 6019: 'California',
 6021: 'California',
 6023: 'California',
 6025: 'California',
 6027: 'California',
 6029: 'California',
 6031: 'California',
 6033: 'California',
 6035: 'California',
 6037: 'California',
 6039: 'California',
 6041: 'California',
 6043: 'California',
 6045: 'California',
 6047: 'California',
 6049: 'California',
 6051: 'California',
 6053: 'California',
 6055: 'California',
 6057: 'California',
 6059: 'California',
 6061: 'California',
 6063: 'California',
 6065: 'California',
 6067: 'California',
 6069: 'California',
 6071: 'California',
 6073: 'California',
 6075: 'California',
 6077: 'California',
 6079: 'California',
 6081: 'California',
 6083: 'California',
 6085: 'California',
 6087: 'California',
 6089: 'California',
 6091: 'California',
 6093: 'California',
 6095: 'California',
 6097: 'California',
 6099: 'California',
 6101: 'California',
 6103: 'California',
 6105: 'California',
 6107: 'California',
 6109: 'California',
 6111: 'California',
 6113: 'California',
 6115: 'California',
 8001: 'Colorado',
 8003: 'Colorado',
 8005: 'Colorado',
 8007: 'Colorado',
 8009: 'Colorado',
 8011: 'Colorado',
 8013: 'Colorado',
 8014: 'Colorado',
 8015: 'Colorado',
 8017: 'Colorado',
 8019: 'Colorado',
 8021: 'Colorado',
 8023: 'Colorado',
 8025: 'Colorado',
 8027: 'Colorado',
 8029: 'Colorado',
 8031: 'Colorado',
 8033: 'Colorado',
 8035: 'Colorado',
 8037: 'Colorado',
 8039: 'Colorado',
 8041: 'Colorado',
 8043: 'Colorado',
 8045: 'Colorado',
 8047: 'Colorado',
 8049: 'Colorado',
 8051: 'Colorado',
 8053: 'Colorado',
 8055: 'Colorado',
 8057: 'Colorado',
 8059: 'Colorado',
 8061: 'Colorado',
 8063: 'Colorado',
 8065: 'Colorado',
 8067: 'Colorado',
 8069: 'Colorado',
 8071: 'Colorado',
 8073: 'Colorado',
 8075: 'Colorado',
 8077: 'Colorado',
 8079: 'Colorado',
 8081: 'Colorado',
 8083: 'Colorado',
 8085: 'Colorado',
 8087: 'Colorado',
 8089: 'Colorado',
 8091: 'Colorado',
 8093: 'Colorado',
 8095: 'Colorado',
 8097: 'Colorado',
 8099: 'Colorado',
 8101: 'Colorado',
 8103: 'Colorado',
 8105: 'Colorado',
 8107: 'Colorado',
 8109: 'Colorado',
 8111: 'Colorado',
 8113: 'Colorado',
 8115: 'Colorado',
 8117: 'Colorado',
 8119: 'Colorado',
 8121: 'Colorado',
 8123: 'Colorado',
 8125: 'Colorado',
 9001: 'Connecticut',
 9003: 'Connecticut',
 9005: 'Connecticut',
 9007: 'Connecticut',
 9009: 'Connecticut',
 9011: 'Connecticut',
 9013: 'Connecticut',
 9015: 'Connecticut',
 10001: 'Delaware',
 10003: 'Delaware',
 10005: 'Delaware',
 11001: 'District of Columbia',
 12001: 'Florida',
 12003: 'Florida',
 12005: 'Florida',
 12007: 'Florida',
 12009: 'Florida',
 12011: 'Florida',
 12013: 'Florida',
 12015: 'Florida',
 12017: 'Florida',
 12019: 'Florida',
 12021: 'Florida',
 12023: 'Florida',
 12027: 'Florida',
 12029: 'Florida',
 12031: 'Florida',
 12033: 'Florida',
 12035: 'Florida',
 12037: 'Florida',
 12039: 'Florida',
 12041: 'Florida',
 12043: 'Florida',
 12045: 'Florida',
 12047: 'Florida',
 12049: 'Florida',
 12051: 'Florida',
 12053: 'Florida',
 12055: 'Florida',
 12057: 'Florida',
 12059: 'Florida',
 12061: 'Florida',
 12063: 'Florida',
 12065: 'Florida',
 12067: 'Florida',
 12069: 'Florida',
 12071: 'Florida',
 12073: 'Florida',
 12075: 'Florida',
 12077: 'Florida',
 12079: 'Florida',
 12081: 'Florida',
 12083: 'Florida',
 12085: 'Florida',
 12086: 'Florida',
 12087: 'Florida',
 12089: 'Florida',
 12091: 'Florida',
 12093: 'Florida',
 12095: 'Florida',
 12097: 'Florida',
 12099: 'Florida',
 12101: 'Florida',
 12103: 'Florida',
 12105: 'Florida',
 12107: 'Florida',
 12109: 'Florida',
 12111: 'Florida',
 12113: 'Florida',
 12115: 'Florida',
 12117: 'Florida',
 12119: 'Florida',
 12121: 'Florida',
 12123: 'Florida',
 12125: 'Florida',
 12127: 'Florida',
 12129: 'Florida',
 12131: 'Florida',
 12133: 'Florida',
 13001: 'Georgia',
 13003: 'Georgia',
 13005: 'Georgia',
 13007: 'Georgia',
 13009: 'Georgia',
 13011: 'Georgia',
 13013: 'Georgia',
 13015: 'Georgia',
 13017: 'Georgia',
 13019: 'Georgia',
 13021: 'Georgia',
 13023: 'Georgia',
 13025: 'Georgia',
 13027: 'Georgia',
 13029: 'Georgia',
 13031: 'Georgia',
 13033: 'Georgia',
 13035: 'Georgia',
 13037: 'Georgia',
 13039: 'Georgia',
 13043: 'Georgia',
 13045: 'Georgia',
 13047: 'Georgia',
 13049: 'Georgia',
 13051: 'Georgia',
 13053: 'Georgia',
 13055: 'Georgia',
 13057: 'Georgia',
 13059: 'Georgia',
 13061: 'Georgia',
 13063: 'Georgia',
 13065: 'Georgia',
 13067: 'Georgia',
 13069: 'Georgia',
 13071: 'Georgia',
 13073: 'Georgia',
 13075: 'Georgia',
 13077: 'Georgia',
 13079: 'Georgia',
 13081: 'Georgia',
 13083: 'Georgia',
 13085: 'Georgia',
 13087: 'Georgia',
 13089: 'Georgia',
 13091: 'Georgia',
 13093: 'Georgia',
 13095: 'Georgia',
 13097: 'Georgia',
 13099: 'Georgia',
 13101: 'Georgia',
 13103: 'Georgia',
 13105: 'Georgia',
 13107: 'Georgia',
 13109: 'Georgia',
 13111: 'Georgia',
 13113: 'Georgia',
 13115: 'Georgia',
 13117: 'Georgia',
 13119: 'Georgia',
 13121: 'Georgia',
 13123: 'Georgia',
 13125: 'Georgia',
 13127: 'Georgia',
 13129: 'Georgia',
 13131: 'Georgia',
 13133: 'Georgia',
 13135: 'Georgia',
 13137: 'Georgia',
 13139: 'Georgia',
 13141: 'Georgia',
 13143: 'Georgia',
 13145: 'Georgia',
 13147: 'Georgia',
 13149: 'Georgia',
 13151: 'Georgia',
 13153: 'Georgia',
 13155: 'Georgia',
 13157: 'Georgia',
 13159: 'Georgia',
 13161: 'Georgia',
 13163: 'Georgia',
 13165: 'Georgia',
 13167: 'Georgia',
 13169: 'Georgia',
 13171: 'Georgia',
 13173: 'Georgia',
 13175: 'Georgia',
 13177: 'Georgia',
 13179: 'Georgia',
 13181: 'Georgia',
 13183: 'Georgia',
 13185: 'Georgia',
 13187: 'Georgia',
 13189: 'Georgia',
 13191: 'Georgia',
 13193: 'Georgia',
 13195: 'Georgia',
 13197: 'Georgia',
 13199: 'Georgia',
 13201: 'Georgia',
 13205: 'Georgia',
 13207: 'Georgia',
 13209: 'Georgia',
 13211: 'Georgia',
 13213: 'Georgia',
 13215: 'Georgia',
 13217: 'Georgia',
 13219: 'Georgia',
 13221: 'Georgia',
 13223: 'Georgia',
 13225: 'Georgia',
 13227: 'Georgia',
 13229: 'Georgia',
 13231: 'Georgia',
 13233: 'Georgia',
 13235: 'Georgia',
 13237: 'Georgia',
 13239: 'Georgia',
 13241: 'Georgia',
 13243: 'Georgia',
 13245: 'Georgia',
 13247: 'Georgia',
 13249: 'Georgia',
 13251: 'Georgia',
 13253: 'Georgia',
 13255: 'Georgia',
 13257: 'Georgia',
 13259: 'Georgia',
 13261: 'Georgia',
 13263: 'Georgia',
 13265: 'Georgia',
 13267: 'Georgia',
 13269: 'Georgia',
 13271: 'Georgia',
 13273: 'Georgia',
 13275: 'Georgia',
 13277: 'Georgia',
 13279: 'Georgia',
 13281: 'Georgia',
 13283: 'Georgia',
 13285: 'Georgia',
 13287: 'Georgia',
 13289: 'Georgia',
 13291: 'Georgia',
 13293: 'Georgia',
 13295: 'Georgia',
 13297: 'Georgia',
 13299: 'Georgia',
 13301: 'Georgia',
 13303: 'Georgia',
 13305: 'Georgia',
 13307: 'Georgia',
 13309: 'Georgia',
 13311: 'Georgia',
 13313: 'Georgia',
 13315: 'Georgia',
 13317: 'Georgia',
 13319: 'Georgia',
 13321: 'Georgia',
 15001: 'Hawaii',
 15003: 'Hawaii',
 15005: 'Hawaii',
 15007: 'Hawaii',
 15009: 'Hawaii',
 16001: 'Idaho',
 16003: 'Idaho',
 16005: 'Idaho',
 16007: 'Idaho',
 16009: 'Idaho',
 16011: 'Idaho',
 16013: 'Idaho',
 16015: 'Idaho',
 16017: 'Idaho',
 16019: 'Idaho',
 16021: 'Idaho',
 16023: 'Idaho',
 16025: 'Idaho',
 16027: 'Idaho',
 16029: 'Idaho',
 16031: 'Idaho',
 16033: 'Idaho',
 16035: 'Idaho',
 16037: 'Idaho',
 16039: 'Idaho',
 16041: 'Idaho',
 16043: 'Idaho',
 16045: 'Idaho',
 16047: 'Idaho',
 16049: 'Idaho',
 16051: 'Idaho',
 16053: 'Idaho',
 16055: 'Idaho',
 16057: 'Idaho',
 16059: 'Idaho',
 16061: 'Idaho',
 16063: 'Idaho',
 16065: 'Idaho',
 16067: 'Idaho',
 16069: 'Idaho',
 16071: 'Idaho',
 16073: 'Idaho',
 16075: 'Idaho',
 16077: 'Idaho',
 16079: 'Idaho',
 16081: 'Idaho',
 16083: 'Idaho',
 16085: 'Idaho',
 16087: 'Idaho',
 17001: 'Illinois',
 17003: 'Illinois',
 17005: 'Illinois',
 17007: 'Illinois',
 17009: 'Illinois',
 17011: 'Illinois',
 17013: 'Illinois',
 17015: 'Illinois',
 17017: 'Illinois',
 17019: 'Illinois',
 17021: 'Illinois',
 17023: 'Illinois',
 17025: 'Illinois',
 17027: 'Illinois',
 17029: 'Illinois',
 17031: 'Illinois',
 17033: 'Illinois',
 17035: 'Illinois',
 17037: 'Illinois',
 17039: 'Illinois',
 17041: 'Illinois',
 17043: 'Illinois',
 17045: 'Illinois',
 17047: 'Illinois',
 17049: 'Illinois',
 17051: 'Illinois',
 17053: 'Illinois',
 17055: 'Illinois',
 17057: 'Illinois',
 17059: 'Illinois',
 17061: 'Illinois',
 17063: 'Illinois',
 17065: 'Illinois',
 17067: 'Illinois',
 17069: 'Illinois',
 17071: 'Illinois',
 17073: 'Illinois',
 17075: 'Illinois',
 17077: 'Illinois',
 17079: 'Illinois',
 17081: 'Illinois',
 17083: 'Illinois',
 17085: 'Illinois',
 17087: 'Illinois',
 17089: 'Illinois',
 17091: 'Illinois',
 17093: 'Illinois',
 17095: 'Illinois',
 17097: 'Illinois',
 17099: 'Illinois',
 17101: 'Illinois',
 17103: 'Illinois',
 17105: 'Illinois',
 17107: 'Illinois',
 17109: 'Illinois',
 17111: 'Illinois',
 17113: 'Illinois',
 17115: 'Illinois',
 17117: 'Illinois',
 17119: 'Illinois',
 17121: 'Illinois',
 17123: 'Illinois',
 17125: 'Illinois',
 17127: 'Illinois',
 17129: 'Illinois',
 17131: 'Illinois',
 17133: 'Illinois',
 17135: 'Illinois',
 17137: 'Illinois',
 17139: 'Illinois',
 17141: 'Illinois',
 17143: 'Illinois',
 17145: 'Illinois',
 17147: 'Illinois',
 17149: 'Illinois',
 17151: 'Illinois',
 17153: 'Illinois',
 17155: 'Illinois',
 17157: 'Illinois',
 17159: 'Illinois',
 17161: 'Illinois',
 17163: 'Illinois',
 17165: 'Illinois',
 17167: 'Illinois',
 17169: 'Illinois',
 17171: 'Illinois',
 17173: 'Illinois',
 17175: 'Illinois',
 17177: 'Illinois',
 17179: 'Illinois',
 17181: 'Illinois',
 17183: 'Illinois',
 17185: 'Illinois',
 17187: 'Illinois',
 17189: 'Illinois',
 17191: 'Illinois',
 17193: 'Illinois',
 17195: 'Illinois',
 17197: 'Illinois',
 17199: 'Illinois',
 17201: 'Illinois',
 17203: 'Illinois',
 18001: 'Indiana',
 18003: 'Indiana',
 18005: 'Indiana',
 18007: 'Indiana',
 18009: 'Indiana',
 18011: 'Indiana',
 18013: 'Indiana',
 18015: 'Indiana',
 18017: 'Indiana',
 18019: 'Indiana',
 18021: 'Indiana',
 18023: 'Indiana',
 18025: 'Indiana',
 18027: 'Indiana',
 18029: 'Indiana',
 18031: 'Indiana',
 18033: 'Indiana',
 18035: 'Indiana',
 18037: 'Indiana',
 18039: 'Indiana',
 18041: 'Indiana',
 18043: 'Indiana',
 18045: 'Indiana',
 18047: 'Indiana',
 18049: 'Indiana',
 18051: 'Indiana',
 18053: 'Indiana',
 18055: 'Indiana',
 18057: 'Indiana',
 18059: 'Indiana',
 18061: 'Indiana',
 18063: 'Indiana',
 18065: 'Indiana',
 18067: 'Indiana',
 18069: 'Indiana',
 18071: 'Indiana',
 18073: 'Indiana',
 18075: 'Indiana',
 18077: 'Indiana',
 18079: 'Indiana',
 18081: 'Indiana',
 18083: 'Indiana',
 18085: 'Indiana',
 18087: 'Indiana',
 18089: 'Indiana',
 18091: 'Indiana',
 18093: 'Indiana',
 18095: 'Indiana',
 18097: 'Indiana',
 18099: 'Indiana',
 18101: 'Indiana',
 18103: 'Indiana',
 18105: 'Indiana',
 18107: 'Indiana',
 18109: 'Indiana',
 18111: 'Indiana',
 18113: 'Indiana',
 18115: 'Indiana',
 18117: 'Indiana',
 18119: 'Indiana',
 18121: 'Indiana',
 18123: 'Indiana',
 18125: 'Indiana',
 18127: 'Indiana',
 18129: 'Indiana',
 18131: 'Indiana',
 18133: 'Indiana',
 18135: 'Indiana',
 18137: 'Indiana',
 18139: 'Indiana',
 18141: 'Indiana',
 18143: 'Indiana',
 18145: 'Indiana',
 18147: 'Indiana',
 18149: 'Indiana',
 18151: 'Indiana',
 18153: 'Indiana',
 18155: 'Indiana',
 18157: 'Indiana',
 18159: 'Indiana',
 18161: 'Indiana',
 18163: 'Indiana',
 18165: 'Indiana',
 18167: 'Indiana',
 18169: 'Indiana',
 18171: 'Indiana',
 18173: 'Indiana',
 18175: 'Indiana',
 18177: 'Indiana',
 18179: 'Indiana',
 18181: 'Indiana',
 18183: 'Indiana',
 19001: 'Iowa',
 19003: 'Iowa',
 19005: 'Iowa',
 19007: 'Iowa',
 19009: 'Iowa',
 19011: 'Iowa',
 19013: 'Iowa',
 19015: 'Iowa',
 19017: 'Iowa',
 19019: 'Iowa',
 19021: 'Iowa',
 19023: 'Iowa',
 19025: 'Iowa',
 19027: 'Iowa',
 19029: 'Iowa',
 19031: 'Iowa',
 19033: 'Iowa',
 19035: 'Iowa',
 19037: 'Iowa',
 19039: 'Iowa',
 19041: 'Iowa',
 19043: 'Iowa',
 19045: 'Iowa',
 19047: 'Iowa',
 19049: 'Iowa',
 19051: 'Iowa',
 19053: 'Iowa',
 19055: 'Iowa',
 19057: 'Iowa',
 19059: 'Iowa',
 19061: 'Iowa',
 19063: 'Iowa',
 19065: 'Iowa',
 19067: 'Iowa',
 19069: 'Iowa',
 19071: 'Iowa',
 19073: 'Iowa',
 19075: 'Iowa',
 19077: 'Iowa',
 19079: 'Iowa',
 19081: 'Iowa',
 19083: 'Iowa',
 19085: 'Iowa',
 19087: 'Iowa',
 19089: 'Iowa',
 19091: 'Iowa',
 19093: 'Iowa',
 19095: 'Iowa',
 19097: 'Iowa',
 19099: 'Iowa',
 19101: 'Iowa',
 19103: 'Iowa',
 19105: 'Iowa',
 19107: 'Iowa',
 19109: 'Iowa',
 19111: 'Iowa',
 19113: 'Iowa',
 19115: 'Iowa',
 19117: 'Iowa',
 19119: 'Iowa',
 19121: 'Iowa',
 19123: 'Iowa',
 19125: 'Iowa',
 19127: 'Iowa',
 19129: 'Iowa',
 19131: 'Iowa',
 19133: 'Iowa',
 19135: 'Iowa',
 19137: 'Iowa',
 19139: 'Iowa',
 19141: 'Iowa',
 19143: 'Iowa',
 19145: 'Iowa',
 19147: 'Iowa',
 19149: 'Iowa',
 19151: 'Iowa',
 19153: 'Iowa',
 19155: 'Iowa',
 19157: 'Iowa',
 19159: 'Iowa',
 19161: 'Iowa',
 19163: 'Iowa',
 19165: 'Iowa',
 19167: 'Iowa',
 19169: 'Iowa',
 19171: 'Iowa',
 19173: 'Iowa',
 19175: 'Iowa',
 19177: 'Iowa',
 19179: 'Iowa',
 19181: 'Iowa',
 19183: 'Iowa',
 19185: 'Iowa',
 19187: 'Iowa',
 19189: 'Iowa',
 19191: 'Iowa',
 19193: 'Iowa',
 19195: 'Iowa',
 19197: 'Iowa',
 20001: 'Kansas',
 20003: 'Kansas',
 20005: 'Kansas',
 20007: 'Kansas',
 20009: 'Kansas',
 20011: 'Kansas',
 20013: 'Kansas',
 20015: 'Kansas',
 20017: 'Kansas',
 20019: 'Kansas',
 20021: 'Kansas',
 20023: 'Kansas',
 20025: 'Kansas',
 20027: 'Kansas',
 20029: 'Kansas',
 20031: 'Kansas',
 20033: 'Kansas',
 20035: 'Kansas',
 20037: 'Kansas',
 20039: 'Kansas',
 20041: 'Kansas',
 20043: 'Kansas',
 20045: 'Kansas',
 20047: 'Kansas',
 20049: 'Kansas',
 20051: 'Kansas',
 20053: 'Kansas',
 20055: 'Kansas',
 20057: 'Kansas',
 20059: 'Kansas',
 20061: 'Kansas',
 20063: 'Kansas',
 20065: 'Kansas',
 20067: 'Kansas',
 20069: 'Kansas',
 20071: 'Kansas',
 20073: 'Kansas',
 20075: 'Kansas',
 20077: 'Kansas',
 20079: 'Kansas',
 20081: 'Kansas',
 20083: 'Kansas',
 20085: 'Kansas',
 20087: 'Kansas',
 20089: 'Kansas',
 20091: 'Kansas',
 20093: 'Kansas',
 20095: 'Kansas',
 20097: 'Kansas',
 20099: 'Kansas',
 20101: 'Kansas',
 20103: 'Kansas',
 20105: 'Kansas',
 20107: 'Kansas',
 20109: 'Kansas',
 20111: 'Kansas',
 20113: 'Kansas',
 20115: 'Kansas',
 20117: 'Kansas',
 20119: 'Kansas',
 20121: 'Kansas',
 20123: 'Kansas',
 20125: 'Kansas',
 20127: 'Kansas',
 20129: 'Kansas',
 20131: 'Kansas',
 20133: 'Kansas',
 20135: 'Kansas',
 20137: 'Kansas',
 20139: 'Kansas',
 20141: 'Kansas',
 20143: 'Kansas',
 20145: 'Kansas',
 20147: 'Kansas',
 20149: 'Kansas',
 20151: 'Kansas',
 20153: 'Kansas',
 20155: 'Kansas',
 20157: 'Kansas',
 20159: 'Kansas',
 20161: 'Kansas',
 20163: 'Kansas',
 20165: 'Kansas',
 20167: 'Kansas',
 20169: 'Kansas',
 20171: 'Kansas',
 20173: 'Kansas',
 20175: 'Kansas',
 20177: 'Kansas',
 20179: 'Kansas',
 20181: 'Kansas',
 20183: 'Kansas',
 20185: 'Kansas',
 20187: 'Kansas',
 20189: 'Kansas',
 20191: 'Kansas',
 20193: 'Kansas',
 20195: 'Kansas',
 20197: 'Kansas',
 20199: 'Kansas',
 20201: 'Kansas',
 20203: 'Kansas',
 20205: 'Kansas',
 20207: 'Kansas',
 20209: 'Kansas',
 21001: 'Kentucky',
 21003: 'Kentucky',
 21005: 'Kentucky',
 21007: 'Kentucky',
 21009: 'Kentucky',
 21011: 'Kentucky',
 21013: 'Kentucky',
 21015: 'Kentucky',
 21017: 'Kentucky',
 ...}

In [196]:
# Add state column to df_test based on dictionary (df_state_dict)
df_test['state'] = df_test['cfips'].map(df_state_dict)
df_test

,row_id,cfips,first_day_of_month,month,year,county,state
0,1001_2022-11-01,1001,2022-11-01,11,2022,Autauga County,Alabama
1,1003_2022-11-01,1003,2022-11-01,11,2022,Baldwin County,Alabama
2,1005_2022-11-01,1005,2022-11-01,11,2022,Barbour County,Alabama
3,1007_2022-11-01,1007,2022-11-01,11,2022,Bibb County,Alabama
4,1009_2022-11-01,1009,2022-11-01,11,2022,Blount County,Alabama
...,...,...,...,...,...,...,...
25075,56037_2023-06-01,56037,2023-06-01,6,2023,Sweetwater County,Wyoming
25076,56039_2023-06-01,56039,2023-06-01,6,2023,Teton County,Wyoming
25077,56041_2023-06-01,56041,2023-06-01,6,2023,Uinta County,Wyoming
25078,56043_2023-06-01,56043,2023-06-01,6,2023,Washakie County,Wyoming
25079,56045_2023-06-01,56045,2023-06-01,6,2023,Weston County,Wyoming

In [197]:
# Convert string columns to category
for label, content in df_test.items():
    if pd.api.types.is_string_dtype(content):
        df_test[label] = content.astype('category').cat.as_ordered()

In [198]:
df_test.dtypes

row_id                      category
cfips                          int64
first_day_of_month    datetime64[ns]
month                          int64
year                           int64
county                      category
state                       category
dtype: object

In [199]:
df_test_copy

                 row_id  cfips first_day_of_month
0       1001_2022-11-01   1001         2022-11-01
1       1003_2022-11-01   1003         2022-11-01
2       1005_2022-11-01   1005         2022-11-01
3       1007_2022-11-01   1007         2022-11-01
4       1009_2022-11-01   1009         2022-11-01
...                 ...    ...                ...
25075  56037_2023-06-01  56037         2023-06-01
25076  56039_2023-06-01  56039         2023-06-01
25077  56041_2023-06-01  56041         2023-06-01
25078  56043_2023-06-01  56043         2023-06-01
25079  56045_2023-06-01  56045         2023-06-01

[25080 rows x 3 columns]

In [200]:
# Turn categorical columns to numbers
for label, content in df_test.items():
    if pd.api.types.is_categorical_dtype(content):
        # Turn into category codes starting with one
        df_test[label] = pd.Categorical(content).codes+1

In [201]:
df_test_copy

                 row_id  cfips first_day_of_month
0       1001_2022-11-01   1001         2022-11-01
1       1003_2022-11-01   1003         2022-11-01
2       1005_2022-11-01   1005         2022-11-01
3       1007_2022-11-01   1007         2022-11-01
4       1009_2022-11-01   1009         2022-11-01
...                 ...    ...                ...
25075  56037_2023-06-01  56037         2023-06-01
25076  56039_2023-06-01  56039         2023-06-01
25077  56041_2023-06-01  56041         2023-06-01
25078  56043_2023-06-01  56043         2023-06-01
25079  56045_2023-06-01  56045         2023-06-01

[25080 rows x 3 columns]

In [202]:
df_test.drop('first_day_of_month', axis=1, inplace=True)
df_test

       row_id  cfips  month  year  county  state
0          25   1001     11  2022      83      1
1          33   1003     11  2022      90      1
2          41   1005     11  2022     101      1
3          49   1007     11  2022     150      1
4          57   1009     11  2022     165      1
...       ...    ...    ...   ...     ...    ...
25075   24008  56037      6  2023    1631     51
25076   24016  56039      6  2023    1656     51
25077   24024  56041      6  2023    1709     51
25078   24032  56043      6  2023    1768     51
25079   24040  56045      6  2023    1794     51

[25080 rows x 6 columns]

In [203]:
# Reorder columns as they were in training fit
df_test = df_test[X_train.columns]
df_test

       row_id  cfips  county  state  month  year
0          25   1001      83      1     11  2022
1          33   1003      90      1     11  2022
2          41   1005     101      1     11  2022
3          49   1007     150      1     11  2022
4          57   1009     165      1     11  2022
...       ...    ...     ...    ...    ...   ...
25075   24008  56037    1631     51      6  2023
25076   24016  56039    1656     51      6  2023
25077   24024  56041    1709     51      6  2023
25078   24032  56043    1768     51      6  2023
25079   24040  56045    1794     51      6  2023

[25080 rows x 6 columns]

In [204]:
# Predict microbusiness_density
test_preds = pd.DataFrame(model.predict(df_test))
test_preds

               0
0       5.080000
1       5.520839
2       9.384253
3       9.437347
4       9.735255
...          ...
25075  11.713676
25076  11.927357
25077  11.695789
25078  11.695789
25079  11.621387

[25080 rows x 1 columns]

In [205]:
df_preds = pd.DataFrame()
df_preds['row_id'] = df_test_copy['row_id']
df_preds['microbusiness_density'] = test_preds
df_preds

                 row_id  microbusiness_density
0       1001_2022-11-01               5.080000
1       1003_2022-11-01               5.520839
2       1005_2022-11-01               9.384253
3       1007_2022-11-01               9.437347
4       1009_2022-11-01               9.735255
...                 ...                    ...
25075  56037_2023-06-01              11.713676
25076  56039_2023-06-01              11.927357
25077  56041_2023-06-01              11.695789
25078  56043_2023-06-01              11.695789
25079  56045_2023-06-01              11.621387

[25080 rows x 2 columns]

In [206]:
submission = df_preds.to_csv('godaddy_microbusiness density_forecast_submission.csv', index=False)

In [207]:
df_preds

                 row_id  microbusiness_density
0       1001_2022-11-01               5.080000
1       1003_2022-11-01               5.520839
2       1005_2022-11-01               9.384253
3       1007_2022-11-01               9.437347
4       1009_2022-11-01               9.735255
...                 ...                    ...
25075  56037_2023-06-01              11.713676
25076  56039_2023-06-01              11.927357
25077  56041_2023-06-01              11.695789
25078  56043_2023-06-01              11.695789
25079  56045_2023-06-01              11.621387

[25080 rows x 2 columns]

In [208]:
df_test_copy

                 row_id  cfips first_day_of_month
0       1001_2022-11-01   1001         2022-11-01
1       1003_2022-11-01   1003         2022-11-01
2       1005_2022-11-01   1005         2022-11-01
3       1007_2022-11-01   1007         2022-11-01
4       1009_2022-11-01   1009         2022-11-01
...                 ...    ...                ...
25075  56037_2023-06-01  56037         2023-06-01
25076  56039_2023-06-01  56039         2023-06-01
25077  56041_2023-06-01  56041         2023-06-01
25078  56043_2023-06-01  56043         2023-06-01
25079  56045_2023-06-01  56045         2023-06-01

[25080 rows x 3 columns]